<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">create</property>

		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>

		<property name="hibernate.connection.driver_class">
			oracle.jdbc.OracleDriver
		</property>

		<!-- Assume test is the database name -->

		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@localhost:1521:XE
		</property>

		<property name="hibernate.connection.username">
			satyamsinghania
		</property>

		<property name="hibernate.connection.password">
			satyamsinghania
		</property>

		<!-- List of XML mapping files -->
		<!-- <mapping resource="customer.hbm.xml" /> -->
		<!-- <mapping class="com.application.Application" /> -->
		<mapping class="com.application.Application" />
	</session-factory>
</hibernate-configuration>